*{
    margin: 0;
    padding: 0;
    color: #f8f8f8;
}

@font-face {
    font-family: 'merriweather', Arial, Helvetica, sans-serif;
    src: url('../fonts/Merriweather/Merriweather-Regular.ttf') format('truetype');

}

body{
    font-family: 'merriweather',Arial, Helvetica, sans-serif;
    font-size: 2em;
    background-color: #02071a;
    background-size: cover;
    background-repeat: no-repeat;
}

.text-box{
    width: 90%;
    color: #f8f8f8;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.text-box h1{
    font-size: 60px;
}

.text-box p{
    margin: 10px 0 40px;
    font-size: 18px;
    color: #f8f8f8;
}
.spiral-btn{
    display: inline-block;
    background: #3a033a;
    position: relative;
    color: #f8f8f8;
    padding: 12px 34px;
    font-size: 13px;
    text-decoration: none;
    border-radius: 30px;
    border: solid 1px #fccb6c;
    transition: 0.5s;
    cursor: pointer;
}

.spiral-btn:hover{
    background: #fccb6c;
    color: #660066;
    border: solid 1px #660066;
}

nav .fa{
    display: none;
}


/* spiral keep going*/

.spiral {
    width: 80%;
    margin:  auto;
    text-align: center;
    padding-top: 100px;
}

 h1 {
    font-size: 36px;
    font-weight: 600;
}

h3{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 30px;
}

p {
    font-size: 18px;
    font-weight: 300;
    line-height: 25px;
    padding: 15px;
}

.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

.spiral-col{
    flex-basis: 31%;
    background: #3a033a;
    border-radius: 10px;
    border: solid 2px #fccb6c;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}

.spiral-col:hover{
    box-shadow: 0 0 20px 0px rgba(255,255,255,0.5);
    transform: translateY(-10px);
}


/* spiral images */
.spiral-images{
    width: 80%;
    margin:  auto;
    text-align: center;
    padding-top: 50px;
}

.foto-col {
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}

.foto-col img{
    width: 700px;
    height: 700px;
    display: block;
    object-fit: cover;
    border: solid px #fccb6c;
}

.layer{
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
}


.layer:hover{
    background: rgba(58, 3, 58, 0.3);
}

.layer h3{
    color: #f8f8f8;
    font-weight: 500;
    font-size: 26px;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    position: absolute;
    opacity: 0;
}

.layer:hover h3{
    bottom: 49%;
    opacity: 1;
    transition: 0.5s;
}

/* citações */

cite {
    font-style: italic;
    font-size: 20px;

}
.citacao{
    width: 80%;
    margin:  auto;
    text-align: center;
    padding-top: 100px;
}

.image-cite-container {
    display: flex;
    flex-direction: column;
}
.image-cite-container img, .image-cite-container blockquote {
    width: 100%;
    margin-right: 35px;
    margin-left: 5px;
    border-radius: 10%;
}
.image-cite-container p{
    font-size: 20px;
    font-weight: 300;
    line-height: 25px;
    padding: 0px;
}

.image-cite-container cite{
    margin-top: 15px;
    font-weight: bolder;
    text-align: left;
}

.citacao-col{
    flex-basis: 31%;
    background: #3a033a;
    border-radius: 10px;
    text-align: left;
    border: solid 2px #fccb6c;
    margin-bottom: 5%;
    padding: 25px;
    box-sizing: border-box;
    transition: 0.5s;
}


/* biografia */
.sub-header{
    height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(2, 15, 65, 0.7),rgba(1, 5, 24, 0.7)),url('../images/tool-band-banner.webp');
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #f8f8f8;
}

.sub-header h1{
    margin-top: 100px;
}

.sub-header p{
    font-size: 20px;
    margin-top: 100px;
}

.bio{
    width: 80%;
    margin:  auto;
    padding-top: 80px;
    padding-bottom: 50px;
}

.bio-text {
    max-height: 500px; /* Adjust this value as needed */
    overflow-y: auto;
}

.bio-text strong{
    font-size: 20px;
    font-weight: 500;
    color: #fccb6c;
    margin-bottom: 30px;
}

.bio-text h1{
    font-size: 25px;
    padding: 0;
}


.bio-col{
    flex-basis: 31%;
    font-size: 21px;
    background: #3a033a;
    border-radius: 10px;
    text-align: left;
    text-shadow: 2px 2px 0 #3a033a;
    border: solid 2px #fccb6c;
    margin-bottom: 5%;
    padding: 25px;
    box-sizing: border-box;
    transition: 0.5s;
}

.bio-col:hover{
    box-shadow: 0 0 20px 0px rgba(255,255,255,0.5);
    transform: translateY(-10px);
}


/* Disografia */

.discografia {
    width: 80%;
    margin:  auto;
    padding-top: 80px;
    padding-bottom: 50px;
}

.album {
    position: relative;
    width: 70%; /* Adjust as needed */
    height: 0;
    padding-top: 20px;
    padding-bottom: 50%; /* This makes the height responsive to the width */
    perspective: 1000px;
    margin: 0 auto 20px; /* Centers the album horizontally and adds space below */
}

.album-front, .album-back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 21px;
    background: #3a033a;
    border-radius: 10px;
    text-align: center;
    text-shadow: 2px 2px 0 #3a033a;
    border: solid 2px #fccb6c;
    padding: 25px;
    box-sizing: border-box;
    transition: 0.5s;
    backface-visibility: hidden;
    overflow: auto; /* Add this line */
}
.album-front::-webkit-scrollbar, .album-back::-webkit-scrollbar {
    display: none;
}


.album-front img:hover{
    box-shadow: 0 0 20px 0px rgba(255,255,255,0.5);
    transform: translateY(-10px);
    transition: 1s; /* Adjust the speed as needed */
}

.album-front img{
    width: 50%;
    height: auto;
    border-radius: 10px;
}

.album-front {
    z-index: 2;
}

.album-back {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 30px;
    text-align: center;
    background: #3a033a;
    border-radius: 10px;
    text-align: center;
    text-shadow: 2px 2px 0 #3a033a;
    border: solid 2px #fccb6c;
    padding: 0; /* Remove padding */
    box-sizing: border-box;
    transition: 0.5s;
    backface-visibility: hidden;
    overflow: auto;
    transform: rotateY(180deg);
}

.album-back ul{
    list-style: none;
    padding: 0;
}

.album.flipped .album-front {
    transform: rotateY(180deg);
}

.album.flipped .album-back {
    transform: rotateY(0);
}

.gold{
    color: #fccb6c;
}


/* resoluções */
@media screen and (max-width: 700px){
    .text-box h1{
        font-size: 20px;
    }

    .row{
        flex-direction: column;
    }

    .image-cite-container img, .image-cite-container blockquote {
        margin-right: 15px;
        margin-left: 0px;
    }
    .bio {
        width: 100%;
        padding-top: 40px;
        padding-bottom: 25px;
    }

    .bio-text {
        max-height: none;
        overflow-y: visible;
    }

    .bio-col img {
        width: 100%;
        height: auto;
    }

    .bio-text strong {
        font-size: 16px;
    }

    .bio-text h1 {
        font-size: 20px;
    }

    .bio-col {
        flex-basis: 100%;
        font-size: 18px;
        padding: 15px;
    }

    .album {
        width: 60%; /* Adjust as needed */
        padding-bottom: 60%; /* Adjust as needed */
    }
}
    




@media screen and (max-width: 811px){
    .text-box h1{
        font-size: 20px;
    }

    .nav-link ul li{
        display: block;
    }

    .nav-link{
        position: absolute;
        background: #660066;
        text-align: right;
        height: 810px; 
        width: -200%;
        top: 0;
        z-index: 2;
        transition: 1s;
    }


    nav .fa{
        display: block;
        color: #f8f8f8;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }

    .nav-link ul{
        padding: 20px;
    }

    .row{
        flex-direction: column;
    }

    .image-cite-container img, .image-cite-container blockquote {
        margin-right: 35px;
        margin-left: 0px;
    }

    .bio {
        width: 100%;
        padding-top: 40px;
        padding-bottom: 25px;
    }

    .bio-text {
        max-height: none;
        overflow-y: visible;
    }

    .bio-text strong {
        font-size: 16px;
    }

    .bio-text h1 {
        font-size: 20px;
    }

    .bio-col {
        flex-basis: 100%;
        font-size: 18px;
        padding: 15px;
    }

    .bio-col img {
        width: 100%;
        height: auto;
    }

    .album {
        width: 45%; /* Adjust as needed */
        padding-bottom: 45%; /* Adjust as needed */
    }
    
}